/*
    Jose Luis
    Septiembre
*/

    body{

        color:white
        
    }

    h1{
        color:black;
        text-align: center; 
    }

    div>div{

        width: 120px;
        height: 100px;
        padding: 5%;
        text-align: center;
        border-radius: 50%;
    }

    #Cajanegra{

        background-color: black;
        float: left;
       
    }

    #Cajaazul{

        background-color: blue;
        float: left;
    }

    #Cajaverde{

        background-color: green;
        float: left;
    }

    #Cajaamarilla{
        background-color: yellow;
        float: left;
    }

    #Lineanegra{
        background-color: gray;
        padding: 30px;
    }

    #Linearoja{
        background-color: rgb(168, 44, 44);
        clear: both;
        padding: 30px;
    }