/*
    José Luis López Fuentes
    Septiembre 2024
*/

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    border: solid 10px green;
    padding: 15px;
    margin: 24px;
    border-radius: 35px;
    text-align: justify;
}

h1,h2{
    background-color: rgb(29, 20, 20);
    color: rgb(0, 255, 136);
    padding: 20px;
    margin: 15px;
    border-radius: 18px;
    text-align: justify;
} 
b{
    color: rgb(129, 0, 0);
}
p{
    color: crimson;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 6px;
    margin: 20px;    
}