/* Octubre 2024, Jose Luis Lopez Fuentes */
*{
    margin: 0px;
    box-sizing: border-box;
}

header,footer{
    background-color: bisque;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    text-shadow: 2px .6px 4px greenyellow;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

body{
    background-color: aqua;
}

main{ 
    background-color: brown;
    width: 80%;
    height: 300px;
    margin: 10px auto 10px auto;
    border-style: solid;
    border-width: 5px 0px 10px 30px;
}

article{}

section{}

aside{}